
body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr auto auto;
}


header {
    grid-column: 1 / span 2;
    grid-row: 1;
}


#signup {
    float: right;
}

#menu {
    grid-column: 1;
    grid-row: 2;
}

#menu ul {
    display: flex;
    justify-content:flex-start;
}


#menu ul li{
    flex-grow: 1;
}


#news {
    grid-column: 1;
    grid-row: 3;
}



#related {
    grid-column: 2;
    grid-row: 2;
    grid-row-end: span 3;
}



footer {
    grid-row: 4;
    grid-column: 1 / span 2;
}
