
body {
    display: grid;
    grid-template-columns: 1fr auto;
}



#menu {
    grid-column: 1;
}

#menu ul {
    display: flex;
    justify-content:flex-start;
}

#menu ul li{
    flex-grow: 1;
}

.related {
    grid-column: 2;
}