@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

html {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

body > header {
    background-color: #046DD5;
    padding: 1em;
}


body > header a {
    color: white;
    font-family: Lora;
}


body > header h2 {
    font-size: larger;
}

#menu {
    padding: 0em;
    margin: 0;
}

#menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

#menu ul li  {
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu li a {
    text-decoration: none;
}



#menu li:nth-child(1){
    border-top: #d6271b;
    border-top-width: 4px;
    border-top-style: solid;
}

#menu li:nth-child(2){
    border-top: green;
    border-top-width: 4px;
    border-top-style: solid;
}

#menu li:nth-child(3){
    border-top: blue;
    border-top-width: 4px;
    border-top-style: solid;
}

#menu li:nth-child(4){
    border-top: orange;
    border-top-width: 4px;
    border-top-style: solid;
}

#menu li:nth-child(5){
    border-top: lightblue;
    border-top-width: 4px;
    border-top-style: solid;
}

#menu li:nth-child(6){
    border-top: purple;
    border-top-width: 4px;
    border-top-style: solid;
}



#related  {
    font-family: Poppins;
    background-color: #2A2F33;
    color: white;
    text-decoration: none;
    padding: 1em;
}

#related p {
    font-size: small;
}

#related h1 a {
    color: white;
}


#news + footer {
    background-color: #2A2F33;
    color: white;
    font-family: Lora;
    padding: 1em;
    margin-top: 1em;
}

#news {
    font-family: Lora;
}

#news p {
    font-size: small;
    padding: 0 1em 0 1em;
}

#news img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}


#news h1 a {
    color:white;
    font-family: Poppins;
}
 

#news p::first-letter {
    font-size: xx-large;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
}

p + footer {
    background-color: #F4655F;
    padding: 1em;
    color: white;
}


p + footer a {
    color: white;
}

#signup a {
    text-decoration: none;
}

#menu ul li a:hover, body a:hover {
    background-color: #2A2F33;
    color: white;
}